@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('../fonts/Raleway-ExtraLight.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/Raleway-Light.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url('../fonts/Raleway.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/Raleway-Bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

::-webkit-scrollbar {
    height: 12px;
    width: 4px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #3b9170;
    -webkit-border-radius: 0;
    -webkit-box-shadow: 0px 1px 2px rgba(59, 145, 112, 0.75);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-input-placeholder {
    color: #559A80;
}

:focus {
    outline: none;
}

body {
    margin: 0;
    color: #ffffff;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    overflow: hidden;
    background-color: #3f3f3f;
}

h1{
    font-size: 3em;
    font-weight: 200;
}
h2 {
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    font-size: 0.8em;
    background: #3b9170;
    border-bottom: 2px solid #3f3f3f;
    -webkit-app-region: drag;
}

.header > * {
    -webkit-app-region: no-drag;
}

.header h1 {
    margin: 9px 0 0 25px;
    float: left;
}

.header .search {
    float: right;
    border: 0;
    padding: 5px 10px;
    margin: 20px 30px 0 0;
    color: #fff;
    background: #2E6550;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button:before {
    font-family: 'FontAwesome';
    content: "\f00d";
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 6px;
    background: #3b9170;
    border: 2px solid #3b9170;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 6px;
    width: 12px;
    background: #2E6550;
    margin-top: -2px;
    cursor: pointer;
}

.header .maximize,
.header .close {
    margin: 6px 9px 0 0;
    float: right;
    cursor: pointer;
}

.header .maximize:hover,
.header .close:hover {
    opacity: 0.5;
}


.mainView {
    position: absolute;
    left:0;
    right: 0;
    top: 62px;
    bottom: 80px;
    overflow-y: auto;
}

.stationList li {
    margin: 5px;
    padding: 4px;
    float: left;
    background: #505050;
    cursor: pointer;
}

.stationList li:hover {
    opacity: 0.5;
}

.stationList img {
    width: 96px;
    height: 60px;
    display: block;
}

.player {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #2f2f2f;
}

.player img {
    margin: 10px 0 0 15px;
}

.player .stationName {
    margin-left: 10px;
}

.volume {
    float: right;
    top: 30px;
    right: 10px;
    position: relative;
    clear: both;
}

.devices {
    float: right;
    top: 10px;
    right: 10px;
    position: relative;
    background-color: #505050;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
}

.devices ul {
    display: none;
    position: absolute;
    bottom: 24px;
    right: 0;
    min-width: 70px;
    background-color: #505050;
}

.devices li {
    clear: both;
    padding: 5px 8px;
    white-space: nowrap;
}

.devices li:not(.selected) {
    padding-left: 23px;
}

.devices:hover ul {
    display: block;
}